<div class="navbar navbar-static-top navbar-default">
  <div class="navbar-header">
    <div class="container">
      <a class="navbar-brand" href="/sources/<%= @client.identifier %>">Dashboard</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sources/<%= @client.identifier%>/urls">Urls</a></li>
        <li><a href="/sources/<%= @client.identifier%>/events">Events</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center well">
    <h3>All Urls for <%= @client.identifier.capitalize %></h3>
    <% @client.urls.uniq.each do |url| %>
    <h5><a href="urls/<%=url.relative_path%>"> <%= url.url %></a></h5>
    <% end %>
  </div>
</div>
