<h1>Data For <%= @url.url %></h1>
<h3>Max Response Time</h3>
<p> <%= @url.max_response_time %> </p>
<h3>Min Response Time</h3>
<p> <%= @url.min_response_time %> </p>
<h3>All Response Times</h3>
<p> <%= @url.all_response_times %> </p>
<h3>Average Response Time</h3>
<p> <%= @url.average_response_time %> </p>
<h3>HTTP Verbs</h3>
<p> <%= @url.list_http_verbs %> </p>
<h3>Three Most Popular Referrers</h3>
<p> <%= @url.three_most_popular_referrers %> </p>
<h3>Three Most Popular User Agents</h3>
<p> <%= @url.three_most_popular_user_agents %> </p>
