<div class="navbar navbar-static-top navbar-default">
  <div class="navbar-header">
    <div class="container">
      <a class="navbar-brand" href="/sources/<%= @client.identifier %>">Dashboard</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sources/<%= @client.identifier%>/urls">Urls</a></li>
        <li><a href="/sources/<%= @client.identifier%>/events">Events</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <h1>24 Hour Breakdown - <%= @event.event_name  %></h1>
  <table class="table text-center">
    <% (1..24).to_a.each do |hour| %>
      <td><h3><%= hour %></h3><p><%= @times.count(hour) %></p></td>
    <% end %>
  </table>
</div>
